{% extends 'base.html' %}

{% block title %}Data{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/data.css') }}">
{% endblock %}

{% block main %}
    <div class="form-container">
        <div class="row pre" style="overflow-y:auto; overflow-x:auto; width:1124px; height:700px;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Index</th>
                        {% for col_name in stat.columns %}
                            <th>{{ col_name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for index, row in stat.iterrows() %}
                        <tr>
                            <th scope="row">{{ index }}</th>
                            {% for col_name in stat.columns %}
                                    <td>{{ row[col_name] }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
