{% extends 'base.html' %}

{% block title %}Data{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/data.css') }}">
{% endblock %}

{% block main %}
    <div class="form-container">
        <div class="row pre" style="overflow-y:auto; overflow-x:auto; width:1124px; height:700px;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        {% for tt in title %}
                            <th>{{ tt }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in table %}
                        <tr>
                            <th scope="row">{{ row['Problem ID'] }}</th>
                            {% for i in row %}
                                {% if i != 'Problem ID' %}
                                    <td>{{ row[i] }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
