{% extends 'base.html' %}

{% block title %}Data{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/data.css') }}">
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
    </script>
{% endblock %}

{% block main %}
    <div class="form-container">
        <div class="row pre" style="overflow-y:auto; overflow-x:auto; width:1124px; height:700px;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Index</th>
                        {% for col_name in stat.columns %}
                            <th>{{ col_name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for index, row in stat.iterrows() %}
                        <tr>
                            <th scope="row">{{ index }}</th>
                            {% for col_name in stat.columns %}
                                {% if col_name == 'PR_ID' %}
                                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">{{ row[col_name] }}</button></td>
                                {% else %}
                                    <td>{{ row[col_name] }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
      </div>
    </div>
{% endblock %}
