{% extends 'base.html' %}

{% block title %}Edit Rule{% endblock %}

{% block head %}
    <script>
        var sel = document.getElementById('ruleid');
        sel.addEventListener("change", showedit(), false);

        function showedit() {
            document.form1.action = "/editrule/showedit/";
            $("form").submit();
        }
    </script>
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <!--left-->
            <form name="form1" action="" method="POST">
                <div class="col-md-2" id="leftCol">
                    <div class="form-group">
                        <label>Rule Name:</label>
                        <input type="text" class="form-control" placeholder="rule name" name="rulename">
                    </div>
                    <div class="form-group">
                        <label>Release:</label>
                        <input type="text" class="form-control" placeholder="release" name="release">
                    </div>
                    <div class="form-group">
                        <label>Customer:</label>
                        <input type="text" class="form-control" placeholder="customer" name="customer">
                    </div>
                    <div class="form-group">
                        <hr>
                    </div>
                    <div class="form-group">
                        <label>Select Rules:</label>
                        <select class="form-control" name="ruleid" id="ruleid" onchange="showedit()">
                            {% for userrule in userrules %}
                                <option value="{{ userrule.id }}">{{ userrule.rulename+'@'+userrule.release }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" name="saverule">Save</button>
                    </div>
                </div><!--/left-->

                <!--right-->
                <div class="col-md-5" id="midCol">
                    {% for k,v in key1.items() %}
                        <div class="form-group">
                            <label>{{ k }}:</label>
                            <input type="text" class="form-control" placeholder={{ k }} name={{ k }} value={{ v }}>
                        </div>
                    {% endfor %}
                </div><!--/middle-->
                <div class="col-md-5" id="rightCol">
                    {% for k,v in key2.items() %}
                        <div class="form-group">
                            <label>{{ k }}:</label>
                            <input type="text" class="form-control" placeholder={{ k }} name={{ k }} value={{ v }}>
                        </div>
                    {% endfor %}
                </div><!--/right-->
            </form>
        </div><!--/row-->
    </div><!--/container-->
{% endblock %}
