{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fileinput.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <script src="{{ url_for('static',filename='js/fileinput.min.js') }}" async></script>
{% endblock %}

{% block main %}
    <h3 class="page-title">Customer Fault Management Tool</h3>
    <div class="form-container">
        <div class="form-group">
            <label>Upload Pronto Source:</label>
            <form action="/upload/" enctype='multipart/form-data' method='POST'>
                <input id="input-b1" name="input-b1" type="file" class="file">
            </form>
        </div>
        <div class="form-group">
            <label>Select Source:</label>
            <select class="form-control">
                {% for source in sources %}
                    <option>{{ source.id|string+'_'+source.filename+'_'+source.upload_time|string}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Select Rules:</label>
            <select class="form-control">
                {% for userrule in userrules %}
                    <option>{{ userrule.rulename+'@'+userrule.release }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block">Proceed</button>
        </div>
    </div>
{% endblock %}
