{% extends 'base.html' %}

{% block title %}{% block rule_operation %}{% endblock %} Rule{% endblock %}

{% block head %}
    <script>
        var sel = document.getElementById('ruleid');
        sel.addEventListener("change", show(), false);

        function show() {
            if($("select[name='ruleid']").find("option:selected").val() != '' ){
                document.form1.action = "{% block rule_show %}{% endblock %}";
                $("form").submit();
            }
        }
        var btn = document.getElementById('saverule');
        btn.addEventListener("click", post(), false);
        function post() {
            document.form1.action = "{% block rule_post %}{% endblock %}";
            $("form").submit();
        }

    </script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fileinput.min.css') }}">
    <script src="{{ url_for('static',filename='js/fileinput.min.js') }}" async></script>
{% endblock %}

{% block main %}
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message[0] }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <li>{{ message[1] }}</li>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8" id="importrule">
                <div class="form-group">
                    <label>Import from file:</label>
                    <form action="/newrule/import" enctype='multipart/form-data' method='POST'>
                        <input id="input-b1" name="input-b1" type="file" class="file">
                    </form>
                </div>
            </div>
            <div class="col-md-4" id="exportrule">
                <div class="form-group">
                    <label></label>
                    <button class="btn btn-primary btn-block" name="export" id="export">Export</button>
                </div>
            </div>
        </div>
        <div class="row">
            <!--left-->
            <form name="form1" action="" method="POST">
                <div class="col-md-2" id="leftCol">
                    <div class="form-group">
                        <label>Rule Name:</label>
                        <input type="text" class="form-control" placeholder="rule name" name="rulename" {% if rule %}value="{{ rule.rulename }}" {% endif %}>
                    </div>
                    <div class="form-group">
                        <label>Release:</label>
                        <input type="text" class="form-control" placeholder="release" name="release" {% if rule %}value="{{ rule.release }}"{% endif %}>
                    </div>
                    <div class="form-group">
                        <label>Customer:</label>
                        <input type="text" class="form-control" placeholder="customer" name="customer" {% if rule %}value="{{ rule.customer }}"{% endif %}>
                    </div>
                    <div class="form-group">
                        <hr>
                    </div>
                    <div class="form-group">
                        <label>Select Rules:</label>
                        <select class="form-control" name="ruleid" id="ruleid" onchange="show()">
                            <option value=""></option>
                            {% for userrule in userrules %}
                                <option value="{{ userrule.id }}">{{ userrule.rulename+'@'+userrule.release }}</option>
                            {% endfor %}
                        </select>
                        <script>$(".form-control").find("option[value='{{ ruleid }}']").attr("selected",true)</script>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" name="saverule" id="saverule" onclick="post()">{% block rule_btn %}{% endblock %}</button>
                    </div>
                </div><!--/left-->
                <!--right-->
                <div class="col-md-5" id="midCol">
                    {% for k,v in key1.items() %}
                        <div class="form-group">
                            <label>{{ k }}:</label>
                            <input type="text" class="form-control" placeholder={{ k }} name={{ k }} {% if k!=v %}value='{{ v }}'{% endif %}>
                        </div>
                    {% endfor %}
                </div><!--/middle-->
                <div class="col-md-5" id="rightCol">
                    {% for k,v in key2.items() %}
                        <div class="form-group">
                            <label>{{ k }}:</label>
                            <input type="text" class="form-control" placeholder={{ k }} name={{ k }} {% if k!=v %}value='{{ v }}'{% endif %}>
                        </div>
                    {% endfor %}
                </div><!--/right-->
            </form>
        </div><!--/row-->

    </div><!--/container-->
{% endblock %}
