{% extends 'base.html' %}

{% block title %}Rules{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/parameter.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fileinput.min.css') }}">
    <script src="{{ url_for('static',filename='js/fileinput.min.js') }}" async></script>
    <script src="{{ url_for('static',filename='js/jquery.session.js') }}" async></script>
{% endblock %}

{% block main %}
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message[0] }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <li>{{ message[1] }}</li>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container-fluid">
        {% block import_rule %}{% endblock %}
        <div class="row">
            <!--left-->
            <form name="form1" action="" method="POST">
                <div class="col-md-2" id="leftCol">
                    <div class="form-group">
                        <label>Parameters Name:</label>
                        <input type="text" class="form-control name" placeholder="parameters name" id="name" >
                    </div>
                    <div class="form-group">
                        <label>Release:</label>
                        <input type="text" class="form-control release" placeholder="release" id="release" >
                    </div>
                    <div class="form-group">
                        <label>Customer:</label>
                        <input type="text" class="form-control customer" placeholder="customer" id="customer" >
                    </div>
                    <div class="form-group">
                        <hr>
                    </div>
                    <div class="form-group">
                        <label>Select Parameters:</label>
                        <select class="form-control paraid" name="paraid" id="paraid">
                            <option value=""></option>
                            {% for userpara in userparas %}
                                <option value="{{ userpara.id }}">{{ userpara.name+'@'+userpara.release }}</option>
                            {% endfor %}
                        </select>
                        <script>$(".form-control").find("option[value='{{ paraid }}']").attr("selected",true)</script>
                    </div>
                    <div class="form-group buttonpost">
                        <button class="btn btn-primary btn-block save" type="button">{% block rule_btn %}{% endblock %}</button>
                    </div>
                </div><!--/left-->
                <!--right-->
                {% block parameter %}{% endblock %}
            </form>
        </div><!--/row-->
        {% block export_rule %}{% endblock %}
    </div><!--/container-->
    <script>
        var parameter = "<li>\n" +
            "                            <label class=\"con con1\" contenteditable=\"true\" placeholder=\"Enter parameter name here...\" style=\"font-size:24px;\"></label>\n" +
            "                            <input type=\"text\" placeholder=\"Enter Keywords here\" style=\"width:auto\">\n" +
            "                            <button type=\"button\" class=\"btn btn-primary addPara\">Add</button>\n" +
            "                            <button type=\"button\" class=\"btn btn-danger delPara\">Delete</button>\n" +
            "                        </li>";

        $(document).ready(function(){
            $.session.clear();
            $(".parameters").on("click",".addPara",function(){
                $(parameter).insertAfter($(this).parents('li').first())
            });
            $(".parameters").on("click",".delPara",function(){
                $(this).parents("li").first().remove()
            });
            $(".buttonpost").on("click",".save",function(){
                var json = {};
                $("ul.paras").children("li").each(function(){
                    json[$(this).children("label").text()]=$(this).children("input").val();
                  });
                //var name = $(this).siblings("input#name").val();
                var name = $(".name").val();
                var release = $(".release").val();
                var customer = $(".customer").val();
                var postdata = {
                    "postdata":JSON.stringify(json),
                    "name":name,
                    "release":release,
                    "customer":customer
                }
                alert($.session.get('paradata'))
                if (name != $.session.get('paradata'))
                {
                    $.ajax({
                      type: "post",
                      url: '/parameters/',
                      data:postdata,
                      dataType: 'json',
                      success: function (data) {
                          alert(data["message"])
                      }
                    });
                }
                else
                {
                    $.ajax({
                      type: "post",
                      url: '/parameters/update/',
                      data:postdata,
                      dataType: 'json',
                      success: function (data) {
                          alert(data["message"])
                      }
                    });
                }

            });
            $(".paraid").change(function(){

                var pid = $("select[name='paraid']").find("option:selected").val();
                if (pid!="")
                {
                    $.ajax({
                      type: "post",
                      url: '{% block rule_show %}{% endblock %}',
                      data:{"pid":pid},
                      dataType: 'json',
                      success: function (data) {
                          $(".name").val(data['name']);
                          $(".release").val(data['release']);
                          $(".customer").val(data['customer']);
                          var jsondata = JSON.parse(data["parameter"])
                          $('.paras').children().remove()
                          $.each(jsondata,function(name,value) {
                              $('.paras').append("<li>\n" +
                                  "                <label class=\"con con1\" contenteditable=\"true\" placeholder=\"Enter parameter name here...\" style=\"font-size:24px;\">"+name+"</label>\n" +
                                  "                <input type=\"text\" placeholder=\"Enter Keywords here\" style=\"width: 400px\" value=\""+value+"\">\n" +
                                  "                <button type=\"button\" class=\"btn btn-primary addPara\">Add</button>\n" +
                                  "                <button type=\"button\" class=\"btn btn-danger delPara\">Delete</button>\n" +
                                  "            </li>")
                          });
                          $.session.set('paradata', data["name"]);
                      }
                    });
                }
            });
        });
    </script>
{% endblock %}
